body {font-family: Arial, Helvetica, sans-serif; min-width: 500px;}

header {background-image: url(assets/graphic.png); background-repeat: no-repeat; background-position: right -150% top 50%; background-size: 80%; padding-bottom: 100px;}

nav {display: flex; justify-content: space-between; padding: 1rem;}

ul > li {text-decoration: none; display: inline; font-size: medium}

ul > li > a {text-decoration: none; color: grey; padding-left: 1rem;}

.sign_up {color: rgb(245, 43, 110);}

.launching {padding: 1rem;}

h5 {color: rgb(245, 43, 110);}

h1 {font-weight: 800; font-stretch: condensed;}

.button_border {background-image: linear-gradient(to bottom right, red, yellow); border-radius: 28px; width: 128px; text-align: center;}

button {border-radius: 24px; border: none; padding: 1rem; margin: 4px; width: 120px; background-color: white;}
button:hover {color: rgb(245, 43, 110); transition: 0.25s;}

section {background-image: url(assets/background.svg); background-position: center; background-repeat: none; padding: 3rem 1rem 1rem 1rem;}

main {padding: 3rem 1rem 1rem 1rem;}

.logos {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: auto; 
    grid-gap:1rem; 
    grid-template-areas: 
    'logo2 logo3'
    'logo4 logo5';
    padding-bottom: 3rem;
}

.logo1 {grid-area: logo1; display: none;}
.logo2 {grid-area: logo2;}
.logo3 {grid-area: logo3;}
.logo4 {grid-area: logo4;}
.logo5 {grid-area: logo5;}

.card_row {display: inline-flex;}

.card {width: 290px; height: 370px; border-radius: 10px; margin: 0px 1rem 1rem 1rem; background-color: rgb(212, 211, 211);}

table {width: 290px; border-collapse: collapse; margin-top: 0.5rem;}

td {padding-left: 1rem; padding-right: 1rem;}

td:nth-child(n+2){text-align: right;}

.gloop {font-size: smaller; color: darkorange; font-family: Verdana, Geneva, Tahoma, sans-serif;}
.top_bid {font-size: smaller; color: rgb(129, 129, 129); font-family: Verdana, Geneva, Tahoma, sans-serif;}
.name .eth {font-size: medium; color: black;}
.num .left {font-size: small; color: rgb(129, 129, 129);}

footer {padding: 1rem;}

.launching2 {background-image: url(assets/upsell-footer-image.svg); background-repeat: no-repeat; background-position: right bottom; padding-bottom: 100px; height: 400px;}

hr {opacity: 70%; height:1px; color: gray;}

.launching2 > h1, p {width:50%;}

.bottom {color: grey; padding: 3rem 1rem 3rem 1rem;}

i {padding-left: 5px;}

.links {padding: 3rem 1rem 3rem 1rem;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: auto; 
     
    grid-template-areas: 
    'about NFT'
    'contact social';
    }

.links > table {width:fit-content}

.links > table tr td {padding: 5px;}

th {text-align: left;}

.about {grid-area: about;}

.NFT {grid-area: NFT;}

.contact {grid-area: contact;}

.social {grid-area: social;}
